*, html, body {
  background-color: #230050;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin-top:10px;
  margin-bottom: 10px;
}
 a {
   color: #FF6002;
 }

 p {
   line-height: 2em;
 }
.topnav {
  overflow: hidden;
  background-color: transparent;
}

.topnav ul {
  padding-left: 0;
  padding-right: 0;
  margin-top:50px;
  font-family: 'Montserrat', sans-serif;
}
  .topnav ul li {
    display: inline;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 20px;
  }
    .topnav ul li a {
      color: #FF6002;
      text-decoration: none;
      font-weight: 300;
    }
      .topnav ul li a:hover {
        text-decoration: underline;
      }
    /* Active top nav */
    .topnav ul li.active {
      background-color: #FF6002;
    }
    .topnav ul li.active a {
      color: #FDFE72;
      text-decoration: none;
      font-weight: 600;
      background-color: #FF6002;
    }
    .topnav ul li.active a:hover {
      text-decoration: none;
    }

#time {
  position: relative;
  float: right;
  color: #FF6002;
  padding: 14px 16px;
  font-size: 13px;
  margin-top: -50px;
}

#worldMap {
    margin-top: 50px;
    width: 100%;
}
  #worldMap img {
    width: 100%;
  }

.results {
  float: center;
  color: FloralWhite;
  text-align: justify;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

.division{
  border: 5px solid #FFF;
}

.column {
  float: left;
  width: 30%;
  padding: 5px;
  margin-left: 20px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  float: center;
  color: #FFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 26px;

}

p {
  float: center;
  color: FloralWhite;
  text-align: justify;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

li {
  float: center;
  color: FloralWhite;
  text-align: justify;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.graph {
  display: grid;
  grid: repeat(10, auto) max-content / max-content repeat(3, auto);
  height: 100%;
}

.graphBar {
  grid-row: 1 / -2;
  border-radius: 0 0 50% 50% / 0 0 10px 10px;
  background: palegoldenrod
    linear-gradient(to top, gold var(--h), transparent var(--h));
  justify-self: center;
  width: 45px;
  height: 100%;
  box-shadow: 0 0 3px lightgrey;
}
.graphBar:nth-of-type(1) {
  grid-column: 2;
  --h: 5%;
}
.graphBar:nth-of-type(2) {
  grid-column: 3;
  --h: 5%;
}
.graphBar:nth-of-type(3) {
  grid-column: 4;
  --h: 5%;
}
.graphBar:nth-of-type(4) {
  grid-column: 5;
  --h: 5%;
}
.graphBar:nth-of-type(5) {
  grid-column: 6;
  --h: 5%;
}
.graphBar:nth-of-type(6) {
  grid-column: 7;
  --h: 5%;
}

.graphBar::before,
.graphBar::after {
  display: block;
  content: "";
  height: 20px;
  border-radius: 50% / 10px;
}
.graphBar::before {
  margin-top: -10px;
  background-color: #FDFE72;
}
.graphBar::after {
  background-color: #FF6002;
  position: relative;
  top: calc(100% - var(--h) - 20px);
}

.graphRowLabel {
  margin-top: -0.5em;
  color: FloralWhite;
}
.graphColumnLabel {
  justify-self: center;
  margin-top: 6px;
  text-shadow: 0 0 2px palegoldenrod;
  font-size: 10pt;
  color: FloralWhite;
}
.graphRowLabel::after {
  display: inline-block;
}

figure {
  width: 98vw;
  max-width: 600px;
  height: 420px;
  margin: 60px auto auto auto;
}

.pieChart {
  margin-top: 50px;
  display: inline-block;
  position: center;
  margin-left: 100px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: conic-gradient(
      pink 70deg,
      lightblue 0 235deg,
      );
}

table {
  background-color: #230050;
  color: FloralWhite;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #FFF;
  text-align: left;
  padding: 8px;
}
